################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Demo
/.vs/Demo/CopilotIndices/17.13.444.19527
/.vs/Demo/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/Demo/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/Demo/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/Demo/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/Demo/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/Demo/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/.vs/Demo/FileContentIndex
/.vs/Demo/FileContentIndex/80ab06c7-46af-4612-b472-45359d9da76c.vsidx
/DBAccess/obj
/DBAccess/obj/DBAccess.csproj.nuget.dgspec.json
/DBAccess/obj/DBAccess.csproj.nuget.g.props
/DBAccess/obj/DBAccess.csproj.nuget.g.targets
/DBAccess/obj/Debug/net9.0
/DBAccess/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/DBAccess/obj/Debug/net9.0/DBAccess.AssemblyInfo.cs
/DBAccess/obj/Debug/net9.0/DBAccess.AssemblyInfoInputs.cache
/DBAccess/obj/Debug/net9.0/DBAccess.assets.cache
/DBAccess/obj/Debug/net9.0/DBAccess.csproj.AssemblyReference.cache
/DBAccess/obj/Debug/net9.0/DBAccess.GeneratedMSBuildEditorConfig.editorconfig
/DBAccess/obj/project.assets.json
/DBAccess/obj/project.nuget.cache
/Demo/obj
/Demo/obj/Debug/net9.0
/Demo/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Demo/obj/Debug/net9.0/Demo.AssemblyInfo.cs
/Demo/obj/Debug/net9.0/Demo.AssemblyInfoInputs.cache
/Demo/obj/Debug/net9.0/Demo.assets.cache
/Demo/obj/Debug/net9.0/Demo.csproj.AssemblyReference.cache
/Demo/obj/Debug/net9.0/Demo.GeneratedMSBuildEditorConfig.editorconfig
/Demo/obj/Debug/net9.0/Demo.GlobalUsings.g.cs
/Demo/obj/Debug/net9.0/Demo.RazorAssemblyInfo.cache
/Demo/obj/Debug/net9.0/Demo.RazorAssemblyInfo.cs
/Demo/obj/Debug/net9.0/staticwebassets.removed.txt
/Demo/obj/Demo.csproj.nuget.dgspec.json
/Demo/obj/Demo.csproj.nuget.g.props
/Demo/obj/Demo.csproj.nuget.g.targets
/Demo/obj/project.assets.json
/Demo/obj/project.nuget.cache
/LogWriter/obj
/LogWriter/obj/Debug/net9.0
/LogWriter/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/LogWriter/obj/Debug/net9.0/LogWriter.AssemblyInfo.cs
/LogWriter/obj/Debug/net9.0/LogWriter.AssemblyInfoInputs.cache
/LogWriter/obj/Debug/net9.0/LogWriter.assets.cache
/LogWriter/obj/Debug/net9.0/LogWriter.csproj.AssemblyReference.cache
/LogWriter/obj/Debug/net9.0/LogWriter.GeneratedMSBuildEditorConfig.editorconfig
/LogWriter/obj/LogWriter.csproj.nuget.dgspec.json
/LogWriter/obj/LogWriter.csproj.nuget.g.props
/LogWriter/obj/LogWriter.csproj.nuget.g.targets
/LogWriter/obj/project.assets.json
/LogWriter/obj/project.nuget.cache
/SiReports/obj
/SiReports/obj/Debug/net9.0
/SiReports/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SiReports/obj/Debug/net9.0/Interop.Microsoft.Office.Interop.Access.dll
/SiReports/obj/Debug/net9.0/Interop.Microsoft.Vbe.Interop.Forms.dll
/SiReports/obj/Debug/net9.0/SiReports.AssemblyInfo.cs
/SiReports/obj/Debug/net9.0/SiReports.AssemblyInfoInputs.cache
/SiReports/obj/Debug/net9.0/SiReports.assets.cache
/SiReports/obj/Debug/net9.0/SiReports.csproj.AssemblyReference.cache
/SiReports/obj/Debug/net9.0/SiReports.csproj.ResolveComReference.cache
/SiReports/obj/Debug/net9.0/SiReports.GeneratedMSBuildEditorConfig.editorconfig
/SiReports/obj/project.assets.json
/SiReports/obj/project.nuget.cache
/SiReports/obj/SiReports.csproj.nuget.dgspec.json
/SiReports/obj/SiReports.csproj.nuget.g.props
/SiReports/obj/SiReports.csproj.nuget.g.targets
/Utilities/Utilities/obj
/Utilities/Utilities/obj/Debug/net9.0
/Utilities/Utilities/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Utilities/Utilities/obj/Debug/net9.0/Utilities.AssemblyInfo.cs
/Utilities/Utilities/obj/Debug/net9.0/Utilities.AssemblyInfoInputs.cache
/Utilities/Utilities/obj/Debug/net9.0/Utilities.assets.cache
/Utilities/Utilities/obj/Debug/net9.0/Utilities.csproj.AssemblyReference.cache
/Utilities/Utilities/obj/Debug/net9.0/Utilities.GeneratedMSBuildEditorConfig.editorconfig
/Utilities/Utilities/obj/project.assets.json
/Utilities/Utilities/obj/project.nuget.cache
/Utilities/Utilities/obj/Utilities.csproj.nuget.dgspec.json
/Utilities/Utilities/obj/Utilities.csproj.nuget.g.props
/Utilities/Utilities/obj/Utilities.csproj.nuget.g.targets
/.vs/ProjectEvaluation
/DBAccess/bin/Debug/net9.0
/Dbflute
/Dbflute/bin/Debug/net9.0
/Dbflute/bin/Debug/net9.0/Dbflute.deps.json
/Dbflute/bin/Debug/net9.0/Dbflute.dll
/Dbflute/bin/Debug/net9.0/Dbflute.pdb
