@page "/Login"
@using DevExpress.Blazor
@using DBAccess.Model

<a>ログイン</a>

<br>
<br>


<style>
    .p {
        font-weight: bold; /*太字*/
    }

    .loginbutton {
        width: 220px;
        margin-left: 100px
    }

    .id {
        width: 33px;
        border-block: thick;
        border-block-color: black;
    }
</style>