<nav class="navbar header-navbar p-0">
    <button class="navbar-toggler bg-primary d-block" @onclick="OnToggleClick">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="name_right">
        <a>xxxxx</a>　
        <a>xxxxx 太郎</a>
        <a class="button" onclick="@ButtonLogout" href="/">ﾛｸﾞｱｳﾄ</a>
    </div>

</nav>
@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null) {
        var newValue = value ?? !ToggleOn;
        if(ToggleOn != newValue) {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}


<style>
    .name_right{
        margin-right: 5px;
    }

    .button {
        margin-left: 10px;
        margin-right: 5px;
        border: none;
        color: black;
        background-color: white;
    }

    .navbar.header-navbar[b-wti7ti63n7] {
        flex-grow: 0;
        flex-wrap: nowrap;
        border: none;
        background-color: inherit;
        border-radius: 0;
        height: 3.5rem;
        min-height: 3.5rem;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
        justify-content: space-between;
    }

</style>
