<log4net>
  <appender name="SystemLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\Logs\System.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level - MESSAGE:%message%newline %exception" />
    </layout>
  </appender>
  <appender name="SqlLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\Logs\Sql.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level - SQL:%message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
  </root>
  <logger name="syslog">
    <level value="ALL" />
    <appender-ref ref="SystemLogFileAppender" />
  </logger>
  <logger name="sqllog">
    <level value="ALL" />
    <appender-ref ref="SqlLogFileAppender" />
  </logger>
</log4net>
